name: Unit Testing

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "yarn"

      - name: Install Dependencies
        run: yarn install

      - name: Run test and generate coverage report
        run: yarn test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
